.form-group {
    margin-bottom: 18px;
}

.input_box {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
}

.input_field {
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
}

.input_field.bg-dark {
  background-color: #3b3c3d !important;
  border-color: #6c757d !important;
}

.input_field.bg-dark:focus {
  background-color: #454748 !important;
  border-color: #979b9e !important;
  box-shadow: 0 0 0 0.1rem rgba(136, 139, 142, 0.25) !important;
}

.input_box img {
  position: absolute;
  right: 0px;
  margin-right: 8px;

  width: 1rem;
  height: 1rem;

  cursor: pointer;

  transition: all 0.3s ease;
  
}

.input_box img:hover {
  opacity: 0.7;
}

.input_box img:active {
  transform: scale(0.9);
}
