.navbar {
  background-color: var(--navbar-bg) !important;
  box-shadow: 0 1px 10px var(--shadow);
  padding: 0.5rem 1rem;
  color: var(--text-color) !important;
}

.offcanvas {
  background-color: var(--navbar-bg) !important;
}

.offCanvasItem{
  transition: background-color ease-in 0.3;
}
.offCanvasItem:hover{
  background-color: var(--hover-bg);
}

