header{
  height: 110px;
}

.sidebar{
  top: 130px;
}

.table-container {
  width: 85%;
  border-radius: 9px;
  overflow: hidden; /* keep corners rounded */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  margin-top: 160px;
}

.info-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Arial", sans-serif;
}

.info-table thead,
.info-table tfoot {
  background-color: #f5f5f5;
}

.info-table caption {
  caption-side: top;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #5c8cb5;
  color: white;
}

.info-table th,
.info-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 12px 15px;
}

/* Make tbody scrollable */
.info-table tbody {
  display: block;
  max-height: calc(100vh - 200px - 70px); /* set how tall it can be before scrolling */
  overflow-y: auto;
}

.info-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* ensures alignment with header */
}

.info-table thead tr,
.info-table tfoot tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.info-table tbody tr:hover {
  background-color: #f0f8ff;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-img, 
.search-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.add-img:hover, 
.search-img:hover {
  transform: scale(1.2);
}

.add-img:active,
.search-img:active{
  transform: scale(.9);
}

.input-row input{
  border: 1px solid #ddd;
  border-radius: 5px;

  background-color: #f5f5f5;
  padding: 5px 7px;

  transition: 
  border 0.3 ease,
  box-shadow 0.3 ease;
}

.input-row input:focus{
  outline: none;

  border: 2px solid #a3a3a3;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
