.form-group {
    margin-bottom: 18px;
}

.input_box {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
}

.input_field {
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
    background-color: var(--input-bg) !important;
    color: var(--text-color) !important;
    border-width: 1px !important;
}

.input_field:focus {
  box-shadow: 0 0 0 0.1rem var(--input-shadow) !important;
}

.input_box img {
  position: absolute;
  right: 0px;
  margin-right: 8px;

  width: 1rem;
  height: 1rem;

  cursor: pointer;

  transition: all 0.3s ease;
  
}

.input_box img:hover {
  opacity: 0.5;
}

.input_box img:active {
  transform: scale(0.9);
}
