body{
  margin: 0;
  font-size: 62.5%;

  font-family: "Roboto", Arial;

  background:#f4f4f4;
}

.tooltip{
  visibility: hidden; /* hide by default */
  width: 80px;
  background-color: rgb(165, 165, 165);
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip above the image */
  position: absolute;
  bottom: 120%; /* adjust vertical position */
  left: 50%;
  transform: translateX(-50%);

  /* Tooltip fade effect */
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
}