.sidebar-edit{
  flex: 2;
}

.add-image-container-invisible{
  visibility: hidden;
}

#studentForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#studentForm p{
  font-size: 14px;
  font-weight: 300;
}

.button-container{
  margin-top: 8px;
}

.submit{
  background-color: #0088ff;
  color: white;

  font-size: 14px;

  border: none;
  border-radius: 5px;

  width: 7.5rem;

  padding: 5px 10px;

  transition: opacity 0.3s;
}

.submit:hover{
  background-color: #00e1ff;
  opacity: 0.9;
}

.submit:active{
  background-color: #39838d;
  transform: scale(0.98); 
}
